node_modules/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/google-services.json
android/app/src/main/assets/public/
android/app/src/main/res/xml/config.xml
.env
.DS_Store
*.keystore
*.jks
